/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
// @use 'vuetify' with (
//   $utilities: false
// );

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html,
#app {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

a {
  -webkit-tap-highlight-color: transparent;
}
